[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymongo = "*"
image = "*"
pillow = "==9.0.1"
flask = "==1.1.1"
send-files = "==0.1"
flask-cors = "*"
flask-restplus = "*"
werkzeug = "==0.16.1"

[requires]
python_version = "3.8"
